!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Jiken
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_pack_tag 'incidents_app'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'incidents_app'
  %body
    = yield
